XML/Божкова_ЛР12 Т-795(xml)/task1/note.dtd

<!ELEMENT note (message+, outcome+)>
<!ELEMENT message (#PCDATA)>
<!ATTLIST message
    number ID #REQUIRED
    from CDATA #REQUIRED
    alert (несрочно| нормально| срочно) #IMPLIED
    alert CDATA "normal"
>
<!ELEMENT source EMPTY>
<!ATTLIST source delivery (e-mail | лично | телефон) #IMPLIED>
<!ELEMENT outcome (#PCDATA)>
<!ATTLIST outcome msg IDREF #IMPLIED>
<!ENTITY today "09.01.21">